@charset "UTF-8";

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

:link, :visited {
	text-decoration: none;
}

body {
	font-family: serif;
}

/* Holy Grail */
.hg {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

.hg-header, .hg-footer {
	display: flex;

	flex: 0;
	align-items: center;

	width: 100%;
	padding: .5rem;
}

.hg-header {
	margin-bottom: .5rem;
	border-bottom: 1px solid currentColor;
}

.hg-header > h1 {
	flex: 1;

	font-size: 2rem;
}

.hg-header > ul {
	display: flex;
	flex: 0;

	list-style: none;
}

.hg-header > ul > li {
	margin: 0 .25rem;

	font-size: 1.5rem;
}

.hg-body {
	display: flex;
	flex: 1;
}

.hg-footer {
	justify-content: center;

	margin-top: .5rem;
	border-top: 1px solid currentColor;
}

.hg-footer > address {
	font-style: normal;
}

